{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block content %}
<div class="container" style="background-color: black;">
    <!--Navigation-->
    <div class="navigate">
        <span style="    background-color:#292B2E;
        padding: 5px;
        border-radius: 5px;
        margin:4px;">Search: {{query}} --> {{objects|length}} Result(s) Found</span>
    </div>
    <!--Display posts table-->
    <div class="posts-table">
        <div class="table-head">
            <div class="status">Status</div>
            <div class="subjects">Subjects</div>
            <div class="replies">Replies/Views</div>
            <div class="last-reply">Last Reply</div>
        </div>

        <!--starts here-->
        {% for post in objects %}
        <div class="table-row">
            <div class="status"><i class="fa fa-fire"></i></div>
            <div class="subjects">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                <br>
                <span>Started by <b><a href="">{{ post.user.fullname | title}}</a></b> .</span>
            </div>
            <div class="replies">
                2 replies <br> {% get_hit_count for post %}
            </div>

            <div class="last-reply">
                {{ post.last_replay.date | date }}
                <br>By <b><a href="">{{ post.last_replay.user.fullname | title }}</a></b>
            </div>
        </div>
        {% endfor %}

        <!--ends here-->
    </div>
    <!--Pagination starts-->
        {% if posts.is_paginated %}
        <div class="pagination">
            pages: {% for num_page in posts.paginator.page_range %} <a href="?page={{num_page}}">{{num_page}}</a> {% endfor %}
        </div>
    {% endif %}
    <!--pagination ends-->
</div>
{% endblock content %}